---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: flux-system
resources:
  - kube-prometheus-stack
  - ingress-nginx
  #  - ingress
#  - kong
#  - loki-distributed
