apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: otel-collector
  namespace: observability
spec:
  interval: 10m
  chart:
    spec:
      chart: opentelemetry-collector
      sourceRef:
        kind: HelmRepository
        name: open-telemetry
        namespace: observability
      interval: 10m
  values:
    mode: deployment
    config:
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: 0.0.0.0:4317
            http:
              endpoint: 0.0.0.0:4318
      processors:
        batch: {}
      exporters:
        jaeger:
          endpoint: jaeger-collector.observability.svc.cluster.local:14250
          tls:
            insecure: true
        prometheus:
          endpoint: 0.0.0.0:8889
      service:
        pipelines:
          traces:
            receivers: [otlp]
            processors: [batch]
            exporters: [jaeger]
          metrics:
            receivers: [otlp]
            processors: [batch]
            exporters: [prometheus]

