apiVersion: v1
kind: ConfigMap
metadata:
  name: outline-redis-config
  namespace: outline
data:
  redis.conf: |
    # Minimal redis config (adjust as needed)
    bind 0.0.0.0
    port 6379
    protected-mode no
    save ""
    appendonly no
