---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  chart:
    spec:
      chart: ./manifests/dev/monitoring/kube-prometheus-stack
      version: "77.5.0"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
        # kind: HelmRepository
        # name: prometheus-community
  interval: 10s
  targetNamespace: monitoring
  values:
    prometheus: 
      persistance:
        enabled: true
        size: 10Gi
        storageClass: standard
    grafana:
      service:
        type: NodePort
        nodePort: 32005
      adminUser: admin
      adminPassword: admin123
      plugins:
        - alexanderzobnin-zabbix-app
      datasources:
        datasources.yaml:
          apiVersion: 1
    datasources:
      enabled: true
      defaultDatasourceEnabled: false
      defaultDashboardsEditable: false
      isDefaultDatasource: false
      name: Prometheus
      uid: prometheus
 ---
 apiVersion: source.toolkit.fluxcd.io/v1
 kind: HelmRepository
 metadata:
   name: prometheus-community
   namespace: monitoring
 spec:
   url: https://prometheus-community.github.io/helm-charts
   interval: 10m
