---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  chart:
    spec:
      chart: ./manifests/dev/infra/kube-prometheus-stack
        #chart: kube-prometheus-stack
      reconcileStrategy: ChartVersion
        #version: "77.5.0"
      sourceRef:
        kind: GitRepository
        name: kube-prometheus-stack
          #namespace: monitoring
          #kind: HelmRepository
          #name: prometheus-community
  interval: 10s
  install:
    createNamespace: true
  targetNamespace: monitoring
  values:
    prometheus: 
      prometheusSpec:
        storageSpec: 
          volumeClaimTemplate:
            spec:
              storageClassName: standard
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 10Gi
    grafana:
      service:
        type: NodePort
        nodePort: 32005
      adminUser: admin
      adminPassword: admin123
      plugins:
        - alexanderzobnin-zabbix-app
            #        datasources.yaml:
            #          apiVersion: 1
            #    datasources:
            #      enabled: true
            #      defaultDatasourceEnabled: false
            #      defaultDashboardsEditable: false
            #      isDefaultDatasource: false
            #      name: Prometheus
            #      uid: prometheus
 # ---
 # apiVersion: source.toolkit.fluxcd.io/v1
 # kind: HelmRepository
 # metadata:
 #   name: prometheus-community
 #   namespace: monitoring
 # spec:
 #   url: https://prometheus-community.github.io/helm-charts
 #   interval: 10m
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 1m0s
  ref:
    branch: main
  url: https://github.com/shahid430/flux-automation
