---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  chart:
    spec:
      chart: ./manifests/dev/monitoring/ingress-nginx
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: GitRepository
        name: ingress-nginx
  interval: 10s
  install:
    createNamespace: true
  targetNamespace: ingress-nginx
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  interval: 1m0s
  ref:
    branch: main
  url: https://github.com/shahid430/flux-automation
